Repository jhj0517/Whisper-WebUI, pull requests merged in 2024-11, with the labels that each got.

#399 Updated translation.yaml (de: Deutsch)
  configs/translation.yaml
Labels: translation

#397 feat(i18n): Add French translations for UI elements
  configs/translation.yaml
Labels: translation

#401 Add Basque translations to translation.yaml
  configs/translation.yaml
Labels: translation

#407 Enable direct use of model from huggingface
  app.py
  modules/whisper/faster_whisper_inference.py
Labels: enhancement

#409 Fix unimplemented error
  .github/pull_request_template.md
  modules/utils/subtitle_manager.py
Labels: bug
